/*-------------------------- Custom Buttons------------------------------------*/
.btn { 
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer; 
    display: inline-block;
    text-align: center;
    text-decoration: none;  
    border: solid 1px transparent;
    border-radius: 4px; 
    padding: 0.5em 1em; 
    color: #ffffff;
    background-color: #9555af;
    margin: 5px;
  }

/*-------------------------- Table------------------------------------*/
.t1-table {
    border: solid 1px black;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 20px 'Marck Script', sans-serif;
}
.t1-table thead th { 
    border: solid 1px black; 
    padding: 10px;
    text-align: left; 
}
.t1-table tbody td {
    border: solid 1px black; 
    padding: 10px; 
}
.t1-table-highlight tbody tr:hover {
    background-color: #CCE7E7;
}
.t1-table-horizontal tbody td {
    border-left: none;
    border-right: none;
}
/*-------------------------- End Table------------------------------------*/

img { 
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
  img:hover {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }

/*-------------------------- CheckBox, Radio------------------------------------*/

  input[type="checkbox"]:checked, 
  input[type="checkbox"]:not(:checked), 
  input[type="radio"]:checked, 
  input[type="radio"]:not(:checked) 
  {
      position: absolute;
      left: -9999px;
  }
  
  input[type="checkbox"]:checked + label, 
  input[type="checkbox"]:not(:checked) + label, 
  input[type="radio"]:checked + label, 
  input[type="radio"]:not(:checked) + label {
      display: inline-block;
      position: relative;
      padding-left: 28px;
      line-height: 20px;
      cursor: pointer;
  }
  
  input[type="checkbox"]:checked + label:before, 
  input[type="checkbox"]:not(:checked) + label:before,
  input[type="radio"]:checked + label:before, 
  input[type="radio"]:not(:checked) + label:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 18px;
      height: 18px;
      border: 1px solid #dddddd;
      background-color: #ffffff;
  }
  
  input[type="checkbox"]:checked + label:before, 
  input[type="checkbox"]:not(:checked) + label:before {
      border-radius: 2px;
  }
  
  input[type="radio"]:checked + label:before, 
  input[type="radio"]:not(:checked) + label:before {
      border-radius: 100%;
  }
  
  input[type="checkbox"]:checked + label:after, 
  input[type="checkbox"]:not(:checked) + label:after, 
  input[type="radio"]:checked + label:after, 
  input[type="radio"]:not(:checked) + label:after {
      content: "";
      position: absolute;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  
  input[type="checkbox"]:checked + label:after, 
  input[type="checkbox"]:not(:checked) + label:after {
      left: 3px;
      top: 4px;
      width: 10px;
      height: 5px;
      border-radius: 1px;
      border-left: 4px solid #e145a3;
      border-bottom: 4px solid #e145a3;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  }
  
  input[type="radio"]:checked + label:after, 
  input[type="radio"]:not(:checked) + label:after {
      left: 5px;
      top: 5px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #e145a3;
  }
  
  input[type="checkbox"]:not(:checked) + label:after, 
  input[type="radio"]:not(:checked) + label:after {
      opacity: 0;
  }
  
  input[type="checkbox"]:checked + label:after, 
  input[type="radio"]:checked + label:after {
      opacity: 1;
  }
 /*--------------------------End CheckBox, Radio------------------------------------*/
 