
/*-------------------------- Element Selector------------------------------------*/

form {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(0deg, rgba(116,100,190,1) 0%, rgba(212,201,255,1) 50%, rgba(238,234,255,1) 86%, rgba(255,255,255,1) 100%);  
    max-width: 576px; 
  } 

  h1{  
    font-family: 'Marck Script', serif;
    font-size: 32px;
    text-shadow: 4px 4px 4px #aaa; 
  }
 

/*-------------------------- Class Selector------------------------------------*/

.inline { 
    display: inline-block;  
    margin:5px;
 }

 
.shadow {
    box-shadow: 0 0 15px #b1b1b1;
}

.header{  
    font-family: 'Montserrat', serif; 
    font-size: 16px;
    font-weight: bold;
    color:rebeccapurple
}

.header-2{  
    font-family: 'Marck Script', serif;
    font-size: 24px;
    text-shadow: 4px 4px 4px #aaa; 
  }