
/*-------------------------- Element Selector------------------------------------*/

 
.container {
    width: 800px;
    height: 600px;
    padding-right: 15px;
    padding-left: 15px; 
    margin-right: auto;
    margin-left: auto; 
    margin-top: 100px;
    background: linear-gradient(0deg, rgba(116,100,190,1) 0%, rgba(212,201,255,1) 50%, rgba(238,234,255,1) 86%, rgba(255,255,255,1) 100%);  
    border: solid 2px black;
} 


.h-main {
  display: flex;  
  justify-content: space-between;
}

.nav-main {
  display: flex;  
  width: 27%;
  align-items: center;
  margin: 10px;
  
}

.f-main{  
  font-family: 'Marck Script', serif;
  font-size: 24px;
  text-shadow: 1px 1px 1px #aaa; 
}
.header{  
  font-family: 'Montserrat', serif; 
  font-size: 16px;
  font-weight: bold;
  color:rebeccapurple
}
.row {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;  
  align-items: center; 
}

.msg { 
  width: 100%;
  margin: 10px;
   
}
.border { 
  position: absolute; 
  width: 165px;
  height: 490px;
  border-right: solid 2px black;  
}

.msg { 
  width: 100%;
  margin: 10px;
   
}
.layer {
  overflow-y: scroll;
  height: 490px;
  width: 98%;
  padding: 5px;  
  border: solid 1px black;  
 } 


 .circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 10px; 
  margin: 5px;
  border: 3px solid black;
  color: #fff;
  text-align: center; 
 
  font: 22px Arial, sans-serif; 
}

.color-1{
  background: tomato;
}

.color-2{
  background: purple;
}

.color-3{
  background: green;
}

.color-4{
  background: tomato;
}
.message { 
  height: 98%;
  width: 98%;
  padding: 5px;  
  border: solid 2px black;  
  background-color: lightcyan;
 } 
 
/*-------------------------------------------GRID-----------------------------*/
.main { 
  display: grid;
  grid-template-areas: 
    "header"
    "article";
    
  grid-template-rows: 70px 1fr;
  grid-template-columns: 1fr;
  grid-gap:5px;
  height: 98%;
  padding-top: 5px;
  padding-bottom: 5px; 
  
} 

header, article {
  padding: 5px;
  background: white;
  border: solid 1px black;
}
#pageHeader {
  grid-area: header;
}
 
#mainArticle { 
  grid-area: article;      
}
 